$yellow: #EBD09F;
$blue: #1D788B;
$red: #E64B60;
$green: #9BBCAB;
$white: #ffffff;

$fbColor: #3b5998;
$twColor: #1c9dec;
$glColor: #db4437;
$ghColor: #FFF;

$borderHeight: 2px;
$blackColor: #14243b;
$borderStyle: solid;
$gray: #f4f4f4;
$headingColor: #393939;
$imgBorderRadius: 2px;
$imgBorderRadiusLeft: 0;
$imgBorderRadiusRight: 0;
$lighten: lighten(#646E7D, 20%);

$boxShadow: 0 0 27px -8px rgba(0,0,0,.64);

$sectionFirstColor: #FFFFFF;
$sectionSecColor: #f4f7f9;

$headingFontSize: 20px;
$headingTextSize: 15px;
$black: black;

$grayDarken: #D1D3D4;
$box-shadow: lighten($black, 17%) 0px 7px 5px;

$mainFont: 'Source Sans Pro', sans-serif;
$secondaryFont: 'Source Sans Pro', sans-serif;

$coverHeight: calc(500px - 65px);

$coverTransform: scale(1.05);
$coverTransformOrigin: bottom;
